VITE_SUPABASE_URL=https://supabase.com/dashboard/project/edofwvyznljsrcjsjwrn
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVkb2Z3dnl6bmxqc3JjanNqd3JuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2ODcyNDcsImV4cCI6MjA5OTI2MzI0N30.W71Y9AU_BMuTv_kO8eYECNbNrsmO78sfYzA7RRMqMpo
